.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #333;
    color: white;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.collapsed {
    width: 60px; 
  }
  
  .sidebar.expanded {
    width: 250px; 
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .sidebar nav ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 20px;
  }
  
  .sidebar nav ul li i {
    font-size: 20px;
    margin-right: 10px; 
  }
  
  .sidebar nav ul li .text {
    display: inline-block;
    font-size: 18px;
    margin-left: 10px; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .sidebar.collapsed .text {
    display: none;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 60px;
    }
  
    .sidebar.expanded {
      width: 200px; 
    }
  
    .sidebar nav ul li a {
      font-size: 18px; 
    }
  
    .sidebar nav ul li i {
      font-size: 18px;
    }
  
    .sidebar nav ul li .text {
      font-size: 16px; 
    }
  }
  
  @media (max-width: 480px) {
    .sidebar.expanded {
      width: 160px;
    }
  
    .sidebar nav ul li a {
      font-size: 16px;
    }
  
    .sidebar nav ul li i {
      font-size: 16px; 
    }
  
    .sidebar nav ul li .text {
      font-size: 14px; 
    }
  }
  
  .sidebar.link-item {
    text-decoration: none;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none;
    }
  }

  a {
    text-decoration: none;
}